/* Scss Document */
@import "normalize.css";

$dark-grey: #151515;

body {
		font-family: 'Bree Serif', serif;
}

h2 {
	font-size: 2rem;
	color: red;
	font-weight: Bold;
}

h4 {
	font-size: 1rem;
	color: $dark-grey;
	font-weight: bold;
}

#initiative-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 33%;
	margin: auto;
	border: 1px solid $dark-grey;
}

.buttons {
	width: 33%;
	margin: 2rem auto;
}




.combatant {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1rem auto 0;
	padding: .25rem;
	border-radius: .25rem;
	border-width: 1px;
	border-style: solid;
	border-color: $dark-grey;
	background-color: lightgrey;
	
	h4 {
		margin: .5rem;
	}
	
	p.roll {
		width: 1.2rem;
		background-color: black;
        color: white;
		padding: .5rem;
		font-size: 1.1rem;
        margin: 0;
		text-align: center;
	}
}





button {
	font-family: 'Bree Serif', serif;
	font-size: 1em;
	padding: 1em 2em;
	background-color: orange;
	border: none;
}

#sort {
	background-color: black;
    color: white;
}

#test-button {
	display: block;
	margin:2rem;
	padding: 1rem;
	background-color: pink;
	
}
