/* Scss Document */
@import url(/Users/pauloleary/Google Drive/web/Roll4/normalize.css);
body {
  font-family: "Bree Serif", serif;
  background-color: #151515;
  color: #777;
}

h1 {
  font-family: "Creepster";
  font-size: 6rem;
  color: #777;
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 1.75rem;
  color: #eee;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  color: white;
}

h4 {
  font-size: 1rem;
  color: #151515;
  font-weight: 400;
}

p {
  font-family: "Bree Serif", serif;
  font-weight: 300;
}

.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 67% 33%;
      grid-template-columns: 67% 33%;
  -ms-grid-rows: 10px 100vh;
      grid-template-rows: 10px 100vh;
}

.welcome {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome h1 {
  background: -webkit-linear-gradient(#eee, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome p {
  text-align: center;
  font-weight: 300;
  color: white;
  margin-bottom: 4rem;
}

.name-new-party {
  background-color: #101010;
  border: 1px solid #777;
  border-radius: 1rem;
  padding: 2rem;
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name-new-party h4 {
  color: white;
  text-align: center;
  margin: 0;
}

.name-new-party p {
  color: #777;
  font-family: "Assistant", sans-serif;
  margin: .5rem;
}

.name-new-party form input {
  text-align: center;
  font-family: "Bree Serif", serif;
  margin: 1rem;
  padding: .5rem;
  font-size: 1.25rem;
  width: 80%;
}

.party-list {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background-color: #101010;
  padding: 3rem;
}

li.party-names {
  list-style-type: none;
  margin: .5rem;
}

li.party-names a {
  display: block;
  background-color: #202020;
  padding: .5rem;
  font-family: "Assistant", sans-serif;
  text-decoration: none;
  color: white;
}

form label {
  color: #eee;
}

.form-box {
  padding: .5rem;
}

#party-box {
  width: 80%;
  margin: auto;
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr 1fr 50px;
      grid-template-columns: 50px 1fr 1fr 50px;
  -ms-grid-rows: 50px 1fr 50p;
      grid-template-rows: 50px 1fr 50p;
  grid-gap: 2rem;
}

#pc-maker {
  width: 100%;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

#adventure-party {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

#initiative-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 33%;
  margin: auto;
  border: 1px solid #151515;
  padding: 1rem;
  background-color: #151515;
}

.buttons {
  width: 33%;
  margin: 2rem auto;
}

.combatant {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .25rem auto;
  padding: .25rem;
  background-color: #eee;
}

.combatant h4.name {
  margin: 0;
  padding: 0;
  border: 1px pink;
  color: #151515;
}

.combatant p.details {
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  font-size: .625rem;
  letter-spacing: .05rem;
  color: #151515;
  text-transform: uppercase;
  line-height: 1rem;
  margin: 0;
}

.combatant p.details strong {
  font-weight: 400;
  padding-left: .25rem;
}

.combatant p.roll {
  width: 1.2rem;
  background-color: #151515;
  color: white;
  padding: .5rem;
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

.pc {
  background-color: #777;
}

button {
  font-family: 'Bree Serif', serif;
  font-size: .75rem;
  padding: .75em 1em;
  background-color: orange;
  border: none;
}

.btn-small {
  color: #777;
  font-family: "Assistant", sans-serif;
  font-size: .75rem;
  background-color: #151515;
}

#sort {
  background-color: black;
  color: white;
}

#test-button {
  display: block;
  margin: 2rem;
  padding: 1rem;
  background-color: pink;
}

ul li {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */