/* Scss Document */
@import "normalize.css";

$dark-grey: #151515;
$dark-grey2: #101010;
$mid-grey: #777;
$light-grey1: #eee;
$light-grey2: #ccc;

$main-font: 'Bree Serif', serif;
$sans: 'Assistant', sans-serif;;
$monster-font: 'Creepster';

body {
	font-family: $main-font;
	background-color: $dark-grey;
	color: $mid-grey;
}


h1 {
	font-family: $monster-font;
	font-size: 6rem;
	color: $mid-grey;
	margin: auto;
	text-align: center;
}

h2 {
	font-size: 1.75rem;
	color: $light-grey1;
	font-weight: 700;
}

h3 {
	font-size: 1.25rem;
	color: white;
}

h4 {
	font-size: 1rem;
	color: $dark-grey;
	font-weight: 400;
}

p {
	font-family: $main-font;
	font-weight: 300;
}

.main-container {
	display: grid;
	height: 100vw;
	grid-template-columns: 67% 33%;
	grid-template-rows:	0px auto;
}

.welcome {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 3rem;
}

.party-list {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;

	background-color: $dark-grey2;
	padding: 3rem;



	
}

form label {
	color: $light-grey1;
}

.form-box {
	padding: .5rem;
}

#party-box {
	width: 80%;
	margin: auto;
	background-color: black;
	display: grid;
	grid-template-columns: 50px 1fr 1fr 50px;
	grid-template-rows: 50px 1fr 50p;
	grid-gap: 2rem;
}
#pc-maker {
	//background-color: blue;
	width: 100%;
	grid-column-start: 2 ;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

#adventure-party {
	//background-color: pink; 
	grid-column-start: 3 ;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;

}



#initiative-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 33%;
	margin: auto;
	border: 1px solid $dark-grey;
	padding: 1rem;
	background-color: $dark-grey;
}

.buttons {
	width: 33%;
	margin: 2rem auto;
}






.combatant {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: .25rem auto ;
	padding: .25rem;

	background-color: $light-grey1;
	
	h4.name {
		margin: 0;
		padding: 0;
		border: 1px pink;
		color: $dark-grey;
	}

	p.details {
		font-family: $sans;
		font-weight: 700;
		font-size: .625rem;
		letter-spacing: .05rem;
		color: $dark-grey;
		text-transform: uppercase;
		line-height: 1rem;
		margin: 0;

		strong{
			font-weight: 400;
			padding-left: .25rem;
		}
		
	}

	p.roll {
		width: 1.2rem;
		background-color:$dark-grey;
        color: white;
		padding: .5rem;
		font-size: 1rem;
        margin: 0;
		text-align: center;
	}
}

.pc {
	background-color: $mid-grey;
}



button {
	font-family: 'Bree Serif', serif;
	font-size: .75rem;
	padding: .75em 1em;
	background-color: orange;
	border: none;
}

.btn-small {
	color: $mid-grey;
	font-family: $sans;
	font-size: .75rem;
	background-color: $dark-grey;
}

#sort {
	background-color: black;
    color: white;
}

#test-button {
	display: block;
	margin:2rem;
	padding: 1rem;
	background-color: pink;
	
}

ul {

	li {
		color: white;
		text-decoration: none;
	}
}
