/* Scss Document */
@import url(/Users/pauloleary/Google Drive/web/Roll4/normalize.css);
body {
  font-family: "Bree Serif", serif;
  background-color: #151515;
  color: #777;
  margin: 0;
}

h1 {
  font-family: "Creepster";
  font-size: 6rem;
  color: #777;
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 1.75rem;
  color: #eee;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  color: white;
}

h4 {
  font-size: 1rem;
  color: #151515;
  font-weight: 400;
}

p {
  font-family: "Bree Serif", serif;
  font-weight: 300;
}

.skip {
  display: block;
  margin-top: 6rem;
}

a {
  text-decoration: none;
  color: #777;
}

a:hover {
  color: #fe5101;
}

.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 67% 33%;
      grid-template-columns: 67% 33%;
  -ms-grid-rows: 10px 100vh;
      grid-template-rows: 10px 100vh;
}

ul li {
  color: white;
  text-decoration: none;
}

header {
  background-color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

header h2 {
  font-family: "Creepster";
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

header nav li {
  list-style-type: none;
}

header nav li a {
  text-align: center;
  font-family: "Assistant", sans-serif;
  text-transform: uppercase;
}

header #menu {
  background-color: #cf5813;
  font-family: "Assistant", sans-serif;
  font-size: 1rem;
  letter-spacing: .25em;
  padding: 1rem;
  margin: 0;
}

header #menu a {
  color: white;
}

header #menu:hover {
  background-color: #fe5101;
}

header #menu:hover a {
  color: black;
}

.nav-screen {
  position: fixed;
  z-index: 150;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: #cf5813;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav-screen ul {
  width: 20%;
  margin: auto;
}

.nav-screen li {
  list-style-type: none;
}

.nav-screen li a {
  display: block;
  color: black;
  font-family: "Assistant", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.24em;
  padding: 1rem;
  text-align: center;
  margin: .25rem;
}

.nav-screen li:hover a {
  background-color: #151515;
  color: #fe5101;
}

.nav-screen .close-btn {
  background-color: #151515;
}

.nav-screen .close-btn:hover {
  background-color: #fe5101;
  color: #151515;
}

.show-nav-panel {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.welcome {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome h1 {
  background: -webkit-linear-gradient(#eee, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome p {
  text-align: center;
  font-weight: 300;
  color: white;
  margin-bottom: 4rem;
}

.name-new-party {
  background-color: #101010;
  border: 1px solid #777;
  border-radius: 1rem;
  padding: 2rem;
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name-new-party h4 {
  color: white;
  text-align: center;
  margin: 0;
}

.name-new-party p {
  color: #777;
  font-family: "Assistant", sans-serif;
  margin: .5rem;
}

.name-new-party form input {
  text-align: center;
  font-family: "Bree Serif", serif;
  margin: 1rem;
  padding: .5rem;
  font-size: 1.25rem;
  width: 80%;
}

#party-on {
  visibility: hidden;
}

.party-list {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background-color: #101010;
  padding: 3rem;
}

ul {
  margin: 0;
  padding: 0;
}

li.party-names {
  list-style-type: none;
  margin: .5rem 0;
}

li.party-names a {
  display: block;
  background-color: #202020;
  padding: .5rem;
  font-family: "Assistant", sans-serif;
  text-decoration: none;
  color: #ccc;
}

li.party-names a:hover {
  background-color: #2c2c2c;
  color: white;
}

li.name {
  list-style-type: none;
  margin: .5rem 0;
}

li.name a {
  display: block;
  background-color: #202020;
  padding: .5rem;
  font-family: "Assistant", sans-serif;
  text-decoration: none;
  color: #ccc;
}

li.name a:hover {
  background-color: #2c2c2c;
  color: white;
}

form label {
  color: #ccc;
}

.form-box {
  padding: .5rem;
}

#party-box {
  width: 80%;
  margin: auto;
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr 1fr 50px;
      grid-template-columns: 50px 1fr 1fr 50px;
  -ms-grid-rows: 50px 1fr 50p;
      grid-template-rows: 50px 1fr 50p;
  grid-gap: 2rem;
}

#pc-maker {
  visibility: hidden;
  width: 100%;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

#adventure-party {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

#initiative-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 33%;
  margin: auto;
  border: 1px solid #151515;
  padding: 1rem;
  background-color: #151515;
}

.buttons {
  width: 33%;
  margin: 2rem auto;
}

#monster-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 6rem 90vh 3rem;
      grid-template-rows: 6rem 90vh 3rem;
  margin: 0;
}

#monster-main .title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  padding: 0;
}

#monster-main .title h2 {
  text-align: center;
  margin: .25rem 0;
}

#monster-main .title p {
  text-align: center;
  margin: 0;
}

input.number {
  width: 1rem;
  text-align: center;
}

#monster-menu {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background-color: black;
  padding: 3rem;
}

#monster-menu h3 {
  margin: 0;
}

#monster-menu p {
  margin: 0;
  font-weight: 300;
}

#monster-menu ul {
  margin: 2rem 0;
}

#monster-menu li {
  list-style-type: none;
  margin: .5rem 0;
}

#monster-menu li a {
  padding: .25rem 0;
  font-family: "Assistant", sans-serif;
  text-decoration: none;
  color: #ccc;
}

#monster-menu li a:hover {
  color: white;
}

.monster-menu-item-selected {
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem;
}

.monster-menu-item-selected p {
  display: block;
  font-family: "Assistant", sans-serif;
  color: #ccc;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.monster-menu-item-selected input {
  width: 2rem;
  margin-left: .5rem;
  text-align: right;
}

.monster-menu-item-selected button {
  display: block;
  font-size: 2rem;
  font-family: "Assistant", sans-serif;
  padding: 0 .75rem;
  color: white;
}

.monster-menu-item {
  background-color: none;
}

.monster-menu-item p {
  display: none;
}

.monster-menu-item button {
  display: none;
}

#monster-combatants {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background-color: #202020;
  padding: 3rem;
}

#monster-combatants h3 {
  margin: 0;
}

#monster-combatants p {
  margin: 0;
  font-weight: 300;
}

#monster-combatants ul {
  margin: 2rem 0;
}

#monster-combatants li {
  color: #151515;
  margin: .25rem 0;
}

.tag {
  font-family: "Assistant", sans-serif;
  background: #777;
  color: #151515;
  font-size: .75rem;
  letter-spacing: 0.05em;
  padding: .125em .5em .25em;
  border-radius: .25em;
}

.monster-maker {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  height: 100vh;
  top: 0;
  background-color: #eee;
  z-index: 100;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .3s 0s;
  transition: -webkit-transform .3s 0s;
  transition: transform .3s 0s;
  transition: transform .3s 0s, -webkit-transform .3s 0s;
}

.monster-maker h2 {
  margin: 4rem auto 1rem;
  color: #151515;
}

.monster-maker form {
  margin: 0rem auto;
}

.monster-maker .form-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 200px;
      grid-template-columns: auto 200px;
  grid-gap: 10px;
}

.monster-maker .form-box label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  color: #151515;
}

.monster-maker .form-box input {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.monster-maker input[type=number] {
  width: 2rem;
  text-align: right;
}

.monster-maker .form-buttons {
  margin: 2rem auto 0;
}

.close-btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.show-monster-maker {
  -webkit-transition: -webkit-transform .5s 0s;
  transition: -webkit-transform .5s 0s;
  transition: transform .5s 0s;
  transition: transform .5s 0s, -webkit-transform .5s 0s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

a.close-btn {
  font-family: "Assistant", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: .75rem;
  display: inline-block;
  background-color: #cf5813;
  padding: 1rem;
  text-decoration: none;
  color: white;
  text-align: right;
}

a.close-btn:hover {
  background-color: #fe5101;
  color: black;
}

.combatant {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .25rem auto;
  padding: .25rem;
  background-color: #eee;
}

.combatant h4.name {
  margin: 0;
  padding: 0;
  border: 1px pink;
  color: #151515;
}

.combatant p.details {
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  font-size: .625rem;
  letter-spacing: .05rem;
  color: #151515;
  text-transform: uppercase;
  line-height: 1rem;
  margin: 0;
}

.combatant p.details strong {
  font-weight: 400;
  padding-left: .25rem;
}

.combatant p.roll {
  width: 1.2rem;
  background-color: #151515;
  color: white;
  padding: .5rem;
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

.pc {
  background-color: #777;
}

button {
  font-family: 'Bree Serif', serif;
  font-size: .75rem;
  padding: .75em 1em;
  background-color: #cf5813;
  border: none;
}

button:hover {
  background-color: #fe5101;
}

.btn-small {
  color: #777;
  font-family: "Assistant", sans-serif;
  font-size: .75rem;
  background-color: #151515;
}

#sort {
  background-color: black;
  color: white;
}

#test-button {
  display: block;
  margin: 2rem;
  padding: 1rem;
  background-color: pink;
}
/*# sourceMappingURL=styles.css.map */